div class=("text-center alert alert-success fade in") style=("display:none")
  button.close type="button" data-dismiss="alert" &times;
  -unless flash.empty?
    == render(partial: 'shared/flash_msg', locals: { flash: flash })

